p {
	font-style: italic;
}

#crawling p{
	font-style: normal;
}

#crawling button.btn {
	margin-top: 15px;
	margin-bottom: 3px;
}

#crawling a {
    color: #2757b3;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    body {
    	padding: 20px;
    }
    nav li{
        background: #0365a0;
    	padding: 15px;
    	font-size: 25px;
    }

    nav li a{
        color: white;
    }

    #crawling button.btn {
    	margin-top: 8px;
    	margin-bottom: 10px;
    }
}